.about-faith {}

.about-faith__header {
    background: url('../img/faith.jpg') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.about-faith__info {
    padding: 50px 0px;
    .info__we-faith {
        font-weight: bold;
    }

    .info__circle {
        list-style-type: disc;
        padding-left: 40px;
        line-height: 25px;

        .dash {
            list-style: none;

            .li-dash:before {
                content: "—";
                position: relative;
                left: -5px;
                padding-left: 10px;
            }

        }
    }
}

@media screen and (max-width: 425px) {
    .about-faith__info {
        padding: 50px 10px;
    }
    h2 {
        font-size: 22px;
    }
    .info__we-faith {
        font-size: 16px;
    }

    }