.banner {
    // background: url('../img/fp_background.png') no-repeat 0 0;
    // background-size: cover;
    height: 100vh;
    width: 100%;
}

.video-background {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  video {
    width: 100%;
  }
}

.banner-text {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 150px;
    text-transform: uppercase;


    .welcome {
        font-size: 25px;
    }
}

@media (pointer: coarse) and (hover: none) {
    .video-background {
      background: url('../../img/fp_background.png') black no-repeat center center scroll;
    }
    .video-background video {
      display: none;
    }
  }

@media screen and (max-width: 425px) {

    .banner-text {
    	padding-top: 150px;
        .welcome {
            font-size: 20px;
        }
    }
}
