.events {
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.events__header {
    background: url('../img/events.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}
.slick-slide{
  text-align: center;
}
.next-arr {
    position: absolute;
    right: 15px;
    top: 70%;
    cursor: pointer;
}

.prev-arr {
    position: absolute;
    left: 15px;
    top: 70%;
    cursor: pointer;
}

.events__list {
    padding: 100px 0px;
    .list__item {
        overflow: hidden;
        .item__image {
            width: 250px;
            height: 250px;
            margin: 0 auto;

        }
    }
}

@media screen and (max-width: 425px) {

    .next-arr {
    	display: none;
    	top: 65%;
    }
    .prev-arr {
        display: none;
        top: 65%;
    }
}
