.header {
    padding: 30px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu-element {
        padding-left: 50px;

        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 18px;
            &:hover {
                color: #FFCB26;
            }
        }


    }
}