.instagram {
	background-color: white;
	position: relative;
	z-index: 10;
}

.instagram__integration {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	flex-wrap: wrap;

	.inst__post {
		position: relative;
		display: inline-block;

		.post-top {
			display:none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
		}
	}
	.inst__post:hover .post-top {
			display: inline;
		}
	.post__image {
		width: 294px;
		height: 294px;
		padding-left: 35px;
		padding-bottom: 40px;

	}

}

@media screen and (max-width: 425px) {
	.instagram__integration {
	padding: 20px 0px;
	.inst__post {


		.post-top {

		}
	}
	.inst__post:hover .post-top {

		}
	.post__image {
		width: 140px;
		height: 140px;
		padding: 10px 10px;

	}

}

}
