@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: $bodyfzsize;
    color: $black;
}

h1 {
    font-size: $h1fsize;
}

h2 {
    font-size: $h2fsize;
}

h3 {
    font-size: $h3fsize;
}

h4 {
    font-size: $h4fsize;
}

p {
    margin: 0;
}

// ---------- SCROLLBAR ----------

// #sc-bar::-webkit-scrollbar-track
// {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
//     border-radius: 10px;
//     background-color: #F5F5F5;
// }

// #sc-bar::-webkit-scrollbar
// {
//     width: 8px;
//     background-color: #F5F5F5;
// }

// #sc-bar::-webkit-scrollbar-thumb
// {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-color: #0195a1;
// }
// ---------- /SCROLLBAR ----------


.wrapper {
    width: 1200px;
    max-width: 100vw;
    margin: 0 auto;
}

.--medium-padding {
    padding: 0px 15px;
}

.--align-text_left {
    text-align: left;
}

.--large {
    font-size: 20px;
}

.--largest {
    font-size: 25px;
}

.--bold {
    font-weight: 700;
}

.--regular {
    font-weight: 400;
}

.--pink {
    color: #ef5777;
}

.--mono {
    font-family: 'Roboto Mono', monospace;
}

.--uppercase {
    text-transform: uppercase;
}

.header__h1 {
    font-size: 80px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1440px) {
    .wrapper {
        width: 1000px;
    }
}


@media screen and (max-width: 768px) {
    .wrapper {
        width: 95vw;
    }
}

@media screen and (max-width: 425px) {
    .wrapper {
        width: 95vw;
    }
}