// ---------- Font sizes ----------
$bodyfzsize: 16px;
$h1fsize: 48px;
$h2fsize: 30px;
$h3fsize: 25px;
$h4fsize: 16px;
$headerfsize: 16px;
$footerfsize: 16px;
$feautersfsize: 16px;



// ---------- /Font sizes ----------

// ---------- Base colors ----------
$primary: #0195a1;
$dark-black: #000000;
$black: #201a2b;
$white: #ffffff;
$light-white: #fefefe;
$dark-grey: #858fa6;
$light-blue: #f9fbfd;


// ---------- /Base colors ----------