<section class="about-faith">
    <div class="about-faith__header">
        <h1>во что мы верим</h1>
    </div>
    <div class="wrapper about-faith__info">
        <h2>1. Священное Писание</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>Священное Писание, данное нам в 66 канонических книгах Ветхого и Нового Заветов – дословно богодухновенное, не подлежащее изменению откровение Бога;</li>
            <li>Священное Писание, представляя высшую и окончательную истину, является самым авторитетным правилом веры и поведения.</li>
        </ul>
        <h2>2. Бог</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>есть один Бог, особым образом вечно существующий в Трех Лицах – Отец, Сын и Святой Дух;</li>
            <li>Бог – Дух, Единый по Своей сущности и Его атрибуты открыты нам в Священном Писании;</li>
            <li>Бог – Создатель видимого и невидимого миров, сотворивший все сущее из ничего.</li>
        </ul>
        <h2>3. Иисус Христос</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>Иисус Христос – предвечный Сын Божий, Слово, истинный Бог и истинный Человек, Второе Лицо Святой Троицы;</li>
            <li>в одной Личности Господа Иисуса Христа таинственно соединились неслиянно, неизменно, неразлучимо и неразделимо две природы: божественная и человеческая;</li>
            <li>Он принял плоть от Духа Святого и девы Марии, сойдя на землю ради спасения людей, прожил безгрешную жизнь, был </li>распят на кресте, сделавшись заместительной жертвой перед Отцом для искупления людей, телесно воскрес из мертвых для оправдания нашего, вознесся на небеса и воссел одесную Отца;
            <li>Иисус Христос вновь видимо возвратится на землю в силе и славе для тысячелетнего правления.</li>
        </ul>
        <h2>4. Грехопадение</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>изначально человек был создан Творцом по образу и подобию Божьему невинным, безгрешным и праведным;</li>
            <li>человек, будучи свободным, по собственной воле нарушил заповедь Божию и через это стал грешным и смертным, что отделило его от Создателя;</li>
            <li>всеобъемлющая греховность и смертность распространилась на всех людей, оттого каждый человек от своих родителей наследует греховную природу и смерть.</li>
        </ul>
        <h2>5. Спасение</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li> спасение человека исходит от Бога по благодати и его основанием является Голгофская жертва Иисуса Христа за грехи человечества; </li>
            <li>человек принимает спасение посредством покаяния пред Богом и веры в Евангелие;</li>
            <li>возрождение Духом Святым абсолютно необходимо для личного спасения и является результатом покаяния и веры;</li>
            внутренним свидетельством спасения человека является прямое свидетельство от Духа Святого;
            <li>внешнее свидетельство спасения – жизнь спасенного в праведности и Божьей святости.</li>
        </ul>
        <h2>6. Постановления Христа для Церкви</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>все раскаявшиеся и верующие в Иисуса Христа, как в личного Спасителя и Господа, должны быть крещены во имя Отца, Сына и Святого Духа посредством полного погружения в воду, согласно повеления Иисуса Христа;</li>
            <li>водным крещением они провозглашают миру о своей смерти со Христом для греха и совоскресении с Ним для новой жизни, а так же обещают Богу свою добрую совесть;</li>
            <li>Причастие, состоящее из хлеба и плода виноградного, представляет собой символ единства Церкви, напоминает о Христовых страданиях и смерти, а также возвещает о Его втором пришествии;</li>
            <li>всем верующим во Христа надлежит совершать Причастие «доколе Он придет».</li>
        </ul>
        <h2>7. Крещение Духом Святым</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>все верующие в Иисуса Христа, как своего личного Спасителя, имеют обетование крещения Духом Святым;</li>
            <li>основными целями крещения Духом Святым являются: принятие сверхъестественной силы для христианской жизни, получение духовных даров для служения в Церкви, которая духовно есть Тело Христово;</li>
            <li>опыт крещения Духом Святым отличается от опыта возрождения свыше;</li>
            <li>физическим доказательством принятия крещения Духом Святым является знамение говорения на иных языках.</li>
        </ul>
        <h2>8. Освящение</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>Бог призывает нас жить в святости и Его воле, которую мы способны исполнить только с помощью Духа Святого;</li>
            <li>освящение является актом отделения от греха и посвящения себя Богу;</li>
            <li>процесс освящения осуществляется в жизни христианина посредством:</li>
            <li>признания и принятия верой своего союза со Христом в Его смерти и воскресении;</li>
            <li>постоянного водительства Духом Святым во всех сферах жизни.</li>
        </ul>
        <h2>9. Церковь и ее миссия</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>Церковь – это Тело Христово, главой которого является Иисус Христос и которое состоит из рожденных свыше людей;</li>
            <li>Церковь призвана Богом исполнить Его план для человечества;
                существует единая вселенская Церковь и множество поместных церквей;</li>
            <li>вселенская Церковь состоит из всех спасенных Христом, ныне живых и умерших в Боге, без различия рас, языков и этнической принадлежности;</li>
            <li>поместная церковь – это собрание возрожденных свыше верующих, организованное и управляемое Духом Святым через дары служения;
                христиане каждой поместной церкви собираются вместе для прославления Бога, а также для назидания, увещания и общения друг с другом;</li>
            <li>земная миссия Российской Церкви христиан веры евангельской как части вселенской Церкви выражается в следующем:
                <ul class="dash">
                    <li class="li-dash">быть Божьим инструментом в евангелизации мира;</li>
                    <li class="li-dash">быть действенным средством для распространения Царствия Божьего в стране и за рубежом;</li>
                    <li class="li-dash">быть Телом Христовым, в котором человек поклоняется и служит Богу;</li>
                    <li class="li-dash">быть местом, где каждый верующий преображается в образ Христов;</li>
                    <li class="li-dash">быть народом, демонстрирующим Божью любовь и сострадание ко всему миру.</li>
                </ul>
            </li>
        </ul>
        <h2>10. Служение</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>каждому христианину необходимо посвятить всю свою жизнь для служения Господу в соответствии с Божьим призванием;</li>
            <li>каждый христианин обязан:
                <ul class="dash">
                    <li class="li-dash">любить Бога и поклоняться Ему в духе и истине;</li>
                    <li class="li-dash">быть Божьим инструментом для назидания других верующих;</li>
                    <li class="li-dash">нести Евангелие Царствия;</li>
                    <li class="li-dash">служить людям в любви и сострадании.</li>
                </ul>
            </li>
        </ul>
        <h2>11. Божественное исцеление</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>Божественное исцеление – неотъемлемая часть Евангелия Царствия, важный элемент проявления Божьей силы в Церкви;</li>
            <li>освобождение от болезней обеспечено через искупительную жертву Иисуса Христа на кресте, которая дает возможность верующему получить исцеление по молитве веры.</li>
        </ul>
        <h2>12. О будущем</h2>
        <p class="info__we-faith">Мы верим, что:</p><br>
        <ul class="info__circle">
            <li>Иисус Христос вновь придет на землю второй раз;</li>
            <li>главными целями второго пришествия Господа являются:
                <ul class="dash">
                    <li class="li-dash">восхищение Церкви;</li>
                    <li class="li-dash">спасение остатка еврейской нации;</li>
                    <li class="li-dash">поражение антихриста;</li>
                    <li class="li-dash">суд над языческими народами;</li>
                    <li class="li-dash">установление Своего тысячелетнего Царствия на земле;</li>
                </ul>
            </li>
            <li>первое воскресение умерших во Христе и присоединение к ним тех, кто останется в живых в ожидании пришествия Господа, является непосредственной и благословенной надеждой Церкви;</li>
            <li>видимое возвращение Господа на землю с Его святыми приведет к спасению народа Израиля и установит всеобщий мир на нашей планете;</li>
            <li>все остальные умершие воскреснут в день второго воскресения для суда у великого белого престола, где будут судимы согласно их поступкам:
                <ul class="dash">
                    <li class="li-dash">одни унаследуют жизнь вечную;</li>
                    <li class="li-dash">другие – вечное осуждение;</li>
                </ul>
            </li>
            <li>по обетованию Господа нас ожидают новое небо и новая земля, «на которых обитает правда».
            </li>
        </ul>
    </div>
</section>