<section class="events">
    <div class="events__header">
        <h1 class="header__h1">мероприятия</h1>
    </div>
    <div class="events__list">
        <div class="list__item"><img class="item__image" src="../img/event_img.png"></div>
        <div class="list__item"><img class="item__image" src="../img/event_img.png"></div>
        <div class="list__item"><img class="item__image" src="../img/event_img.png"></div>
        <div class="list__item"><img class="item__image" src="../img/domyouth.jpg"></div>
        <div class="list__item"><img class="item__image" src="../img/mechtay.jpg"></div>
    </div>
</section>