<header class="header">
    <div class="top-menu wrapper">
        <div class="main-logo"><a href="index.html"><img src="img/church_logo.svg" alt="baseCoreLogo"></a></div>
        <div class="menu-right">
            <ul class="menu">
                <li class="menu-element"><a href="index.html">Главная</a></li>
                <li class="menu-element"><a target="_blank" href="https://www.youtube.com/channel/UCTKXg01q41ORpRbPbxwTVxQ">Медиа</a></li>
                <li class="menu-element"><a target="_blank" href="http://mechtay.co">Мечтай</a></li>
                <li class="menu-element active"><a class="menu--home" href="/about.html">О нас</a></li>
            </ul>
        </div>
    </div>
</header>