<header class="header">
    <div class="top-menu wrapper">
        <div class="main-logo"><a href="#"><img src="img/bclogo.svg" alt="baseCoreLogo"></a><img width="20px" height="20px" id="burger-king" src="/img/menu.svg"></div>
        <div class="menu-right">
            <ul class="menu">
                <li class="menu-element active"><a class="menu--home" href="#home">Home</a></li>
                <li class="menu-element"><a href="#demo">Demo</a></li>
                <li class="menu-element"><a href="#whitepaper">Whitepaper</a></li>
                <li class="menu-element"><a href="#excalibur">Excalibur</a></li>
                <li class="menu-element"><a href="#concept">Concept</a></li>
                <li class="menu-element"><a href="#media">Media</a></li>
                <li class="menu-element"><a href="#docs">Research</a></li>
            </ul>
            <div class="menu-right__container">
                <ul class="header-btn-container">
                    <li class="header-button homebtn"><a href="#home">Home</a></li>
                    <li class="header-button"><a target="about_blank" href="#">Token</a></li>
                    <li class="header-button"><a href="https://medium.com/bscrinc">Blog</a></li>
                </ul>
                <ul class="icons-container">
                    <li><a href="https://twitter.com/bscrinc" class="icon social-twitter"></a></li>
                    <li><a href="https://t.me/base_core" class="icon social-telegram"></a></li>
                    <li><a href="https://github.com" class="icon social-github"></a></li>
                    <li><a href="https://medium.com/bscrinc" class="icon social-medium"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>