<header class="header">
    <div class="top-menu wrapper">
        <div class="main-logo"><a href="index.html"><img src="img/church_logo.svg" alt="baseCoreLogo"></a><img width="20px" height="20px" id="burger-king" src="../img/menu.svg"></div>
        <div class="menu-right">
          <img id="burger" width="40" src="./img/menu.svg" alt="">
            <ul class="menu">
                <li class="menu-element active"><a href="index.html">Главная</a></li>
                <li class="menu-element"><a target="_blank" href="https://www.youtube.com/channel/UCTKXg01q41ORpRbPbxwTVxQ">Медиа</a></li>
                <li class="menu-element"><a target="_blank" href="http://mechtay.co">Мечтай</a></li>
                <li class="menu-element"><a href="/about.html">О нас</a></li>
            </ul>
        </div>
    </div>
</header>
