<section class="instagram">
    <div class="instagram__integration wrapper">
        <div class="inst__post"><a href="https://www.instagram.com/p/BvyfEjRFOi8/"><img class="post__image" src="../img/inst1.png"><img class="post-top post__image" src="../img/inst11.png"></a></div>
        <div class="inst__post"><a href="https://www.instagram.com/p/BvWcdAzF5lF/"><img class="post__image"src="../img/inst2.png"><img class="post-top post__image" src="../img/post21.png"></a></div>
        <div class="inst__post"><a href="https://www.instagram.com/p/BvPMXmHljl3/"><img class="post__image"src="../img/inst3.png"><img class="post-top post__image" src="../img/post31.png"></a></div>
        <div class="inst__post"><a href="https://www.instagram.com/p/BvJXAPpls5s/"><img class="post__image"src="../img/inst4.png"><img class="post-top post__image" src="../img/post41.png"></a></div>
        <div class="inst__post"><a href="https://www.instagram.com/p/Bu8DVGQl3Dw/"><img class="post__image"src="../img/inst5.png"><img class="post-top post__image" src="../img/post51.png"></a></div>
        <div class="inst__post"><a href="https://www.instagram.com/p/Bu1argTFz1e/"><img class="post__image"src="../img/inst6.png"><img class="post-top post__image" src="../img/post61.png"></a></div>
    </div>
</section>