<section class="ministries">
    <div class="ministries__header">
        <h1 class="header__h1">жизнь церкви</h1>
    </div>
    <div class="ministries__container wrapper">
        <div class="ministries__list">
            <div class="list__item">
                <div class="item__left">
                    <h2 class="mnistries__h2">Домашние группы
                    </h2>
                    <p class="ministries__info">Мы верим, что общение — неотъемлемая часть жизни христианина. И очень важно, чтобы общение не было просто поверхностным.</p>
                    <p class="ministries__info">Домашние группы — это возможность получить более глубокие отношения, молитвенную и эмоциональную поддержку, возможность разбирать Слово и получать ответы на интересующие вопросы.</p>
                    <p class="ministries__info">В нашей церкви Домашних групп несколько, поэтому каждый сможет найти для себя именно то окружение, в котором ему будет комфортно.</p>
                    </p>
                </div>
                <div class="item__right"><img class="right__image" src="../img/homegroups.jpg"></div>
            </div>
            <hr class="hr__settings">
            <div class="list__item">
                <div class="item__left">
                    <h2 class="mnistries__h2">Молодежное служение
                    </h2>
                    <p class="ministries__info">12 января 2018 года молодежная команда организовала первое молодежное собрание, и с этого дня оно стало проходить в нашей церкви на регулярной основе.</p>
                    <p class="ministries__info">Каждое воскресенье молодежь приходит в церковь на полноценное богослужение, единственное отличие от утреннего — формат: молодежь общается на своем языке, а потому ей нужен свой — современный — подход.</p>
                    <p class="ministries__info">Еще одна часть служения, ставшая уже неотъемлемой, — созданное молодежью нашей церкви кафе «Хлеб&Хлев», благодаря которому после собрания у молодых ребят есть возможность пообщаться и перекусить.</p>
                    </p>
                </div>
                <div class="item__right"><img class="right__image" src="../img/odom_youth.jpg"></div>
            </div>
            <hr class="hr__settings">
            <div class="list__item">
                <div class="item__left">
                    <h2 class="mnistries__h2">Мир без стен
                    </h2>
                    <p class="ministries__info">Люди — главная ценность. Поэтому мы стараемся помочь тем, кто как-то ограничен в своих возможностях.</p>
                    <p class="ministries__info">Наша церковь является частью особенного служения. Для людей с инвалидностью мы устраиваем встречи, где можно просто познакомиться и пообщаться, тематические вечера, поездки. Мы хотим, чтобы каждый человек чувствовал себя принятым и нужным. Мы верим, что возможно жить в мире, где отсутствуют границы, разделяющие людей на группы.</p>
                    </p>
                </div>
                <div class="item__right"><img class="right__image" src="../img/mbs.jpg"></div>
            </div>
            <hr class="hr__settings">
        </div>
    </div>
</section>